@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --color: #F1F1F1;
  --opcolor : #1F1F1F;
  --container-padding: 80px;
  --container-width: calc(100% - var(--container-padding) * 2);
}

/* Style buttons */
.btn {
    width: 100%;
    border: solid 2px var(--opcolor);
    color: var(--opcolor);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 13pt;
    font-family: Poppins;
    background-color: rgba(0, 0, 0, 0);
    margin: 5px 0px;
}

.btn-dark {
    border: solid 2px var(--color);
    color: var(--color);
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
} 

@font-face {
 font-family: "WASHINGTON";
 src: url("/fonts/WASHINGTON.ttf") format("truetype")
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}

#topnav {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    padding-top: 20px;
    color: var(--color);
}

body {
    color:  var(--color);
    margin: 0;
    font-size: 13pt;
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: var(--color);
}

h1 {
    font-size: 90pt;
    font-weight: normal;
    font-family: 'WASHINGTON', serif;
    margin: 0 ;
    line-height: 0.87;
}

h2 {
    margin: 0;
    font-size: 18pt;
    font-weight: 700;
}

.sep{
    width: 100vw;
    height: 2px;
    background-color: var(--color);
}

#footer {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#footer span {
    margin: 15px 0;
}

#links {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}

#links > a  {
    color: inherit;
    font-weight: bold;
    font-size: 18pt;
}

@media only screen and (max-width: 668px) {
    h1 {
        font-size: 37pt;
        text-align: center;
    }
    #sub{
        text-align: center;
    }
    #footer{
        align-items: center;
    }
    #socials{
        flex-direction: column;
        align-items: center;
    }
    :root {
        --container-width: 89%;
    }
    h2 {
        font-size: 12pt;
    }  
    body {
        font-size: 10pt;
    }
    .btn {
        font-size: 10pt;
    }
}

@media only screen and  (min-width: 669px) and (max-width: 1040px) {
    h1 {
        font-size: 60pt;
        text-align: center;
    }
    #sub{
        text-align: center;
    }
    #footer{
        align-items: center;
    }
    #socials{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 1041px) {
    :root {
        --container-width: 1000px;
    }
}

.no-scroll {
  overflow: hidden;
}

#hamburger {
  display: block;
  cursor: pointer;
    z-index: 10;
}

#hamburger div {
  height: 3px;
  background-color: var(--color);
  margin: 5px;
  transition: all 0.3s ease;
}

#hamburger div:nth-child(1) {
    width: 24px;
}

#hamburger div:nth-child(2) {
    width: 16px;
}

#hamburger div:nth-child(3) {
    width: 8px;
}

#hamburger.active div:nth-child(1) {
    width: 16px;
}

#hamburger.active div:nth-child(2) {
    width: 6px;
}

#hamburger.active div:nth-child(3) {
    width: 24px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    background-color: var(--opcolor);
    overflow-x: hidden;
    transition: all 0.3s ease;
    z-index: 9;
}

#menu a {
    font-size: 20pt;
    font-weight: bold;
    color: var(--color);
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease;
    border-bottom: solid 2px var(--color);
}

#menu a:hover {
    background-color: var(--color);
    color: var(--opcolor);
}

#menu.active {
    width: 100%;
}

#menu.active a {
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color);
    color: var(--opcolor);
    min-width: 250px;
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
}

.dropdown a {
    color: var(--opcolor);
}

.dropdown:hover .dropdown-content {
    display: flex;
}
