
<a href="/">Home</a>
<a href="{{ "education-experience" | absURL }}">Education & Experience</a>
<div class="dropdown">
    <span>Leadership & Management</span>
    <div class="dropdown-content">
        <a href="{{ "junior-entreprise" | absURL }}">Junior Entreprise (J.E.)</a>
        <a href="{{ "innovation" | absURL }}">Innovation</a>
        <a href="{{ "ethics" | absURL }}">Ethics</a>
    </div>
</div>
<a href="{{ "languages" | absURL }}">Languages</a>
<div class="dropdown">
    <span>More</span>
    <div class="dropdown-content">
        <a href="{{ "career-development" | absURL }}">Career development</a>
        <a href="{{ "sustainable-development" | absURL }}">Sustainable development</a>
        <a href="{{ "internship" | absURL }}">1A Internship</a>
        <a href="{{ "sports" | absURL }}">Sports</a>
        <a href="{{ "travels" | absURL }}">Travels</a>
        <a href="{{ "retakes" | absURL }}">Retakes JUNE 22</a>
        <a href="#footer">Contact</a>
    </div>
</div>
