
<a href="/">Home</a>
<a href="{{ "education" | absURL }}">Education</a>
<a href="{{ "experience" | absURL }}">Experience</a>
<a href="{{ "languages" | absURL }}">Languages</a>
<div class="dropdown">
    <span>More</span>
    <div class="dropdown-content">
        
        <a href="{{ "careers_leadership_management" | absURL }}">Careers, Leadership & Management</a>
        <a href="{{ "sports" | absURL }}">Sports</a>
        <a href="{{ "travels" | absURL }}">Travels</a>
        <a href="#footer">Contact</a>
    </div>
    </div>
